.wordCard {
  width: 100%;
  min-height: 4rem;
  padding: 0.75rem 0;
  position: relative;
  display: flex;
  align-items: center;
}

/* on hover card effect for wordCard */
.wordCard:hover {
  background-color: #fffefe;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(219, 217, 217, 0.1);
  transition: all 0.3s ease;
  transform: scale(1.01);
}

.wordCard:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: rgb(216, 215, 215);
}

.wordCard::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: rgb(216, 215, 215);
}

.wordCard.lastItem::after {
  display: none;
}

.word {
  font-size: 1.2rem;
  font-weight: 500;
  width: auto;
  word-wrap: break-word;
  hyphens: auto;
}

.word:hover {
  cursor: pointer;
  color: #1fa975;
}

.wordTitleSection {
  min-width: 6rem;
  max-width: 7rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phonetics {
  height: 2rem;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.phoneticString {
  margin-left: 0.5rem;
  margin-bottom: 0.15rem;
  font-weight: 600;
}

.phonetics.noAudio {
  cursor: default;
}

.phonetics.noAudio:hover {
  color: black;
}

.phonetics:hover {
  color: #1fa975;
}

.definitions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-right: 0.2rem;
  padding-left: 1rem;
  font-size: 0.85rem;
  font-weight: 400;
}

.definitionText {
  padding-right: 0.5rem;
  margin-top: 0.25rem;
  color: #363535;
}

.definitionText::before {
  content: '•'; /* Unicode bullet point character */
  margin-right: 5px; /* Adjust spacing between bullet point and text */
}

.partOfSpeech {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.definitions:hover > .definitionText {
  color: black;
}

.secondPart {
  margin-top: 1rem;
}

.deleteWrapper {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
}

.removeIcon {
  width: 1.2rem;
  margin-left: 0.2rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wordCard:hover .removeIcon {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.removeText {
  font-size: 0.75rem;
  font-weight: 400;
  color: #ff9770;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.removeIcon:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.deleteWrapper:hover .removeText {
  opacity: 1;
}
