.header {
  background-color: #16181c;
  width: 100%;
  min-height: 5.5rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo {
  width: 10rem;
}

.navbar {
  height: 100%;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-around;
}

.tab-item {
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 6rem;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.active {
  color: #1fa975;
  font-weight: 600;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #1fa975;
  border-radius: 10px;
  transition: width 0.3s ease, transform 0.3s ease;
}
